#contenedor {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 25px 25px 25px;
  align-items: center;
  justify-content: space-between;
  margin: 0 60px 20px 60px;
}
.about {
  text-align: center;
  color: white;
  background-color: #49a549; /* Cambia el color de fondo a tu elección */
  padding: 20px; /* Ajusta el relleno según tus preferencias */
}

#contenedor1 {
  max-width: 600px;
}

.imagen {
  width: 350px; /* Ajusta el ancho de la imagen según tus necesidades */
}

#contenedor1 h2,
#contenedor1 p {
  margin-left: 160px; /* Ajusta el valor según el ancho de la imagen y el margen derecho */
}

  #contenedor2 {
    max-width: 450px;
    
  }


#contenedor3 {
  justify-content: center;
  background-color: #d06969; /* Cambia el color de fondo a tu elección */
  margin-top: 15px;
  padding: 10px;
}

#contenedor3 p {
  color: white; /* Establece el color del texto en blanco */
}

#contenedor3 h2{
  color: white;
  padding-left: 100PX;
}

.vision {
  padding: 0 30px 0 30px;
}

.contenedoracerca{
  display: flex;
}

/*
.espacio-texto {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.espacio-texto h2 {
  color: #333;
}

.espacio-texto p {
  color: #666;
}
*/