/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Estilos para el encabezado */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #972204;
  }
  
  .logoimage {
    display: flex;
    justify-content: flex-start;
  }
  
  .logoimage img {
    height: 50px;
    margin: 0 10px;
    width: 100px;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
  }
  
  .navbar-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
  }
  
  .navbar-item {
    margin: 0 10px;
  }
  
  .navbar-item a {
    text-decoration: none;
    color: white; /* Color blanco para el texto */
  }
  
  .social-icons {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0 10px;
    margin-top: 10px;
  }
  
  .social-icons img {
    height: 30px;
  }
  
  body {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .contenido{
  
    display: flex;
    margin: 0 50px;
    margin-top: 40px;
    flex-direction: column;
  
  }
  
  .descuentos {
  
    display: flex;
    flex-direction: column;
  
  }
  
  .descimg {
  
    display: flex;
    justify-content: space-around; 
    align-items: center; 
  
  }
  
  .descimg img {
  
    height: 200px;
  
  }
  
  .regalias {
  
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  
  }
  
  .regaimg {
  
    display: flex;
    justify-content: space-around; 
    align-items: center; 
  
  }
  
  .regaimg img {
  
    height: 200px;
  
  }
  
  .carousel-inner {
    display: grid;
    justify-content: center; 
  
  }
  
  .carousel-item img {
    width: 400px;
    height: auto;
  }
  
  .carousel-caption h5, p{
  
    color: aliceblue;
  
  }
  
  .footer{
  
    padding: 20px;
    margin-top: 50px;
    background-color: #972204;
    display: flex;
    justify-content: center;
    color: aliceblue;
  
  }
  
/* Estilos para el contenedor principal */
.contenedor {
    margin-top: 20px; /* Añade un margen superior para separar el contenedor del header */
    position: relative;
    width: 100%;
    height: 400px; /* Ajusta la altura deseada para el contenedor */
    overflow: hidden; /* Evita que el contenido exceda el contenedor */
  }
  
  /* Estilos para la imagen de fondo */
  img {
    width: 90%;
    height: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto; /* Centra horizontalmente la imagen dentro del contenedor */
  }
  
  /* Estilos para la superposición con el título */
.superpuesto {
    position: absolute;
    top: 0; /* Ajusta el valor de top a 0 para superponer el título en la parte superior */
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 90px;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
  }
  
  h2 {
    margin: 0;
  }
  /* eventos.css */

/* ... (tu contenido de estilos generales) ... */

.contenido {
  display: flex;
  margin: 0 50px;
  margin-top: 40px;
  flex-direction: row; /* Cambia a row para que el carrusel esté a la derecha */
}

.descuentos {
  flex: 1; /* Utiliza flex para que el carrusel ocupe el espacio restante */
}

.carousel-derecha {
  margin-top: -200px; /* Añade un margen superior para separar el contenedor del header */
  flex: 1; /* Utiliza flex para que el carrusel ocupe el espacio restante */
  padding-left: 20px; /* Agrega espaciado a la izquierda para separar el carrusel del texto */
}


.parrafo-izquierda {
    margin-top: -200px; /* Añade un margen superior para separar el párrafo del carrusel */
    flex: 1; /* Utiliza flex para que el párrafo ocupe el espacio restante */
    padding-right: 20px; /* Agrega un margen derecho para separar el párrafo de los demás elementos */

  }
  
  .parrafo-izquierda p {
    font-size: 20px; /* Tamaño de fuente del párrafo */
    line-height: 1.5; /* Espaciado entre líneas */
    color: #333; /* Color del texto */
  }
  