/* Estilos para el encabezado */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #417558;
}

.logoimage {
  display: flex;
  justify-content: flex-start;
}
.logoimage img {
  height: 50px;
  margin: 0 10px;
  width: 100px;
}

.navbar {
  display: flex;
  justify-content: center;
}
.navbar a {
  text-decoration: none;
  color: white;
  padding: 5px 70px;
}
.navbar a:hover {
  background-color: #b9b9b9;
  border-radius: 5px;
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.navbar-item {
  margin: 0 10px;
}

.navbar-item a {
  text-decoration: none;
  color: white; /* Color blanco para el texto */
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0 10px;
  margin-top: 10px;
}

.social-icons img {
  height: 30px;
}
header div img {
  height: 50px;
}

header nav a {
  margin-left: 10px;
  text-decoration: none;
}

header .social-icons img {
  height: 30px;
  margin-left: 10px;
}
body {
 
  background-repeat: no-repeat;
  background-size: cover;
}

.contenido{

  display: flex;
  margin: 0 50px;
  margin-top: 40px;
  flex-direction: column;

}

.descuentos {

  display: flex;
  flex-direction: column;

}

.descimg {

  display: flex;
  justify-content: space-around; 
  align-items: center; 

}

.descimg img {

  height: 200px;

}

.regalias {

  display: flex;
  flex-direction: column;
  margin-top: 60px;

}

.regaimg {

  display: flex;
  justify-content: space-around; 
  align-items: center; 

}

.regaimg img {

  height: 200px;

}

.carousel-inner {
  display: grid;
  justify-content: center; 

}

.carousel-item img {
  width: 400px;
  height: auto;
}

.carousel-caption h5, p{

  color: aliceblue;

}

.footer{

  padding: 20px;
  margin-top: 50px;
  background-color: #972204;
  display: flex;
  justify-content: center;
  color: aliceblue;

}
.footer{
  
  padding: 20px;
  margin-top: 50px;
  background-color: #417558;
  display: flex;
  justify-content: center;
  color: aliceblue;

}