body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {

    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

/* Añade estos estilos a tu archivo CSS externo (registro.css) o en línea */

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100vh - 73px); /* Ajusta la altura de acuerdo con el tamaño de la barra superior */
}

@media (max-width: 450px) {
    .h-custom {
        height: 100vh;
    }
}

